{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>{% if query %}Search Results{% else %}Available Events{% endif %}</h2>

    {% if query %}
      <p>Showing results for: "{{ query }}"</p>
    {% endif %}

    {% if events %}
      <ul class="list-group">
        {% for event in events %}
          <li class="list-group-item">
            <h4>{{ event.title }}</h4>
            <p>{{ event.description }}</p>
            <p>Date: {{ event.date }}, Time: {{ event.time }}</p>
            <p>Location: {{ event.location_name }}</p>
            <p>Available Slots: {{ event.available_slots }}</p>
          
            <form method="post" action="{% url 'eventapp:enroll-event' event_id=event.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Enroll for Event</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% if query %}No results found.{% else %}No available events at the moment.{% endif %}</p>
    {% endif %}
  </div>
{% endblock %}
